<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Medicamentos Proveedor</title>

</head>
			
<div class="container">

	<center><h5>Crear Medicamento</h5></center><br>

	   <form class="col s12"  th:action="@{/medicamentoProveedor/crear}" th:object="${FormMedicamentoProveedor}"  id="FormMedicamentoProveedor" method="post">
		   
		   <div class="row">
			   <div class="input-field col s6">
			   	<label for="nombres">Nombres</label> 
			    <input type="text" id="nombre" th:field="*{nombre}">
			   </div>
				   
			   <div class="input-field col s6">
			   	<label for="nombres">Proveedor</label>
				<select class="browser-default" th:field="*{idproveedor}">
					<option value="0">Seleccione Proveedor</option>
				    <th:block th:each="fila : ${GetProveedores}">
						<option th:value="${fila.idproveedor}" th:text="${fila.nombre}"></option>
					</th:block>
				</select>
		       </div>
		   </div>
		  
		  <div class="row">
		   <div class="input-field col s6">
		    <label for="apellidos">Precio</label> 
		    <input type="number" id="precio" th:field="*{precio}">
		   </div>

		   <div class="input-field col s6">
		    <label for="apellidos">Cantidad</label> 
		    <input type="number" id="precio" th:field="*{cantidad}">
		   </div>
		  </div>
		  
		<button class="btn waves-effect waves-light" type="submit">Guardar</button>
		  
	   </form>
	 
</div>			
		
		
</body>
</html>