<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Medicamentos Proveedor</title>

</head>
<body>
		
<br><br>	  
	
<div class="container">

	<center><h5>Catalogo Medicamentos</h5></center> 		
	   <br><br>
	      
	   <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="nombres">Proveedor</th>
              <th data-field="apellidos">Medicamento</th>
              <th data-field="fecha_nacimiento">Fecha Creacion</th>
              <th data-field="direccion">Precio</th>
              <th data-field="direccion">Cantidad</th>
              <th data-field="eliminar">Eliminar</th>
              <th data-field="editar">Editar</th> 
          </tr>
        </thead>
        <tbody>
          <th:block th:each="fila : ${GetMedicamentoProveedor}">
          	  <tr>
	  		  <td th:text=${fila.proveedor}></td>
	  		  <td th:text=${fila.nombre}></td>
	  		  <td th:text=${fila.fecha}></td>
	  		  <td th:text=${fila.precio}></td>
	  		  <td th:text=${fila.cantidad}></td>
	  		  <td><a th:href="@{'/medicamentoProveedor/eliminar/'+${fila.idmedicamentoproveedor}}" onclick="return confirm('Quiere Borrar?')"><i class="tiny material-icons red-text text-darken-1">delete</i></a>Borrar</td>	
	  		  <td><a th:href="@{'/editar/'+${fila.idmedicamentoproveedor}}"><i class="tiny material-icons green-text text-darken-1">save</i></a>Editar</td>
	  		  </tr>
	      </th:block>  
        </tbody>
      </table>
            
</body>
</html>